@font-face {
	font-family: Scriptina;
	src: url(../fonts/SCRIPTIN.ttf); 
}
html, body {
	height: 100%;
	font-family: Playfair Display;
}
a {
	text-decoration: none;
	color: #615e58;
}
.main-wrapper {
	min-height: 100%;;
}
 .wrapper {
	max-width: 1000px;
	margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.main-block {
	background-position: center;
	background-image: url("..//images/background-first-section.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.flex {
	display: flex;
	justify-content: center;
}
.logo {
	font-family: Scriptina;
	font-size: 25px;
	color: #fff;
}
.logo-position {
	position: absolute;
	top: 0;
	left: 0.5%;	
	z-index: 200;
}
nav {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  background-color: #000;
  color: #fff;
  padding-top: 0.8%;
  box-sizing: border-box;
  z-index: 2;
}
.nav-mobile {
  display: none;
  font-weight: bold;
  width: 100%;
  padding-top: 10px;
}
.main-menu {
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
}
.main-menu li {
	display: inline;
}
.main-menu li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	padding: 20px;
}
.central-block {
	margin-top: 200px;
}
.article {
	color: #fff;
	text-align: center;
}
.great {
	font-size: 90px;
	font-weight: bold;
	margin-bottom: 60px;
}
.text-block {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 5px;
	width: 625px;
	margin: 0 auto;
}
.our-menu-button {
	background: #000;
	opacity: 0.5;
	width: 200px;
	height: 40px;
	display: block;
	margin: 70px auto;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 20px;
	box-sizing: border-box;
}
.our-menu-button:hover {
	opacity: 1.0;
}
.art-block {
	background-position: center;
	background-image: url("../images/art-of-cakes-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.art-block-content {
	padding-top: 70px;
	padding-bottom: 70px;
	color: #000;
}
.left-side-content {
	max-width: 40%;
	padding: 5px;
	text-align: center;
}
.right-side-content {
	display: flex;
	max-width: 60%;
	overflow: hidden;
	flex-flow: row wrap;
}
.right-side-item {
	max-width: 45%;
	overflow: hidden;
	margin: 5px;
    border: 5px solid #fff;
    box-sizing: border-box;
}
.citation-block {
	margin-top: 40px;
}
.citation {
	margin-top: 20px;
	font-family: Scriptina;
	font-size: 30px;
	color: #aa8669;
}
.quotes {
	font-family: Scriptina;
	font-size: 50px;
	color: #ccc;
}
.article-great {
	font-size: 35px;
	font-weight: bold;
	color: #615e58;
	padding: 15px 0 10px;
}
.article-middle {
	font-size: 20px;
	font-weight: bold;
	color: #000;
	margin: 30px 0;
}
.article-small {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #c0a090;
	padding: 10px 0 5px;
}
.content-text {
	font-size: 13px;
	line-height: 2;
	color: #56534c;
	padding: 5px 0;
}
.chief-block {
	position: relative;
}
.chief-info {
	position: absolute;
	top: 50%;
	font-size: 20px;
}
.left {
	left: 18%;
}
.right {
	left: 70%;
}
.chief-photo {
	border-radius: 50%;
}
.chief-info:before {
	content: "";
	width: 100px;
	height: 2px;
	background: #ccc;
	display: block;
	position: absolute;
	top: -25px;
	left: -25px;
}
.chief-info:after {
	content: "";
	width: 100px;
	height: 2px;
	background: #ccc;
	display: block;
	position: absolute;
	bottom: -25px;
	left: -25px;
}
.pancakes-block {
	background-position: center;
	background-image: url("../images/pancakes-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0;
}
.align-central-block {
	display: flex;
	align-items: stretch;
}
.pancakes-left-side {
	width: 45%;
}
.pancakes-right-side {
	padding: 30px 30px 50px;
	background-image: url("../images/pancakes-text-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.slider {
	padding-top: 40px;
}
.ready-block {
	background: url("../images/ready-bg.jpg")no-repeat center;
	text-align: center;
	padding: 25px;
}
.ready-block-position {
	position: absolute;
	top: -30px;
	right: 0;
	max-width: 120px;
	height: 105px;
}
.ready-article {
	font-size: 15px;
	font-weight: bold;
	color: #aa8669;
	text-transform: uppercase;
}
.ready-numbers {
	font-size: 75px;
	font-weight: bold;
	color: #dfc691;	
}
.ready-time {
	font-size: 15px;
	color: #d3c1b2;
}
.breakfast-block {
	background-position: center;
	background-image: url("../images/breakfast-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.breakfast-column-block {
	width: 45%;
	margin: 40px auto;
}
.breakfast-head {
	font-size: 50px;
	font-weight: bold;
	padding: 0 0 20px;	
}
.breakfast {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
}
.breakfast-price {
	color: #dfc691;
	font-size: 25px;
	padding: 20px 0;
}
.breakfast-text {
	color: #ccc;
	font-size: 15px;
	padding: 5px 0;
}
.breakfast-right-block-menu {
	text-align: center;
	padding: 35px 50px;
}
.breakfast-right-bg {
	background-position: center;
	background-image: url("../images/breakfast-menu-bg.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 400px;
}
.est {
	margin-bottom: 50px;
}
.float-left {
	float: left;
	margin-left: 30%;
}
.float-right {
	float: right;
	margin-right: 30%;
}
.sandwich-block {
	background-position: top;
	background-image: url("../images/sandwich-bg.png");
	background-repeat: no-repeat;
	background-color: #f3f1e9;
	min-height: auto;
}
.sandwich-head {
	text-align: center;
	padding-top: 35px;
}
.sandwich-left-block {
	width: 30%;
	margin: 15px auto 0;
	text-align: center;
}
.sandwich-right-block {
	width: 60%;
	margin: 0 auto;
	position: relative;
}
.sandwich-right-block-image {
	max-width: 700px;
	height: 450px;
	overflow: hidden;
	margin-top: 25px;
	border: 10px solid #fff;
	box-sizing: border-box;
}
.time-block {
	position: absolute;
	top: 10px;
	right: 0;
	width: 150px;
	text-align: center;
}
.prep-block {
	background: #fff;
	opacity: 0.9;
	padding: 25px;
	margin-bottom: 2px;
}
.prep-numbers {
	color: #615e58;
	font-size: 75px;
	font-weight: bold;
	padding-bottom: 5px;
}
.recipe-button {
	width: 140px;
	padding: 10px 5px;
	position: absolute;
	bottom: 8%;
	left: 1%;
	background-color: #fff;
	color: #dfc691;
	border: 1px dotted #dfc691;
	opacity: 1;
}
.recipe-button:hover {
	background-color: #dfc691;
	color: #fff;
}
footer {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  background-color: #000;
  color: #fff;
  opacity: 0.8;
  padding-top: 0.1%;
  box-sizing: border-box;
  text-align: center;
}

@media screen and (min-width : 320px) and (max-width: 668px){
.wrapper {
	width: 100%;
}
.logo {
	display: none;
}
.main-menu {
	display: none;
	position: relative;
}
.main-menu li {
	display: block;
	margin: 10px;
	color: #fff;
	font-weight: bold;
}
.nav-mobile {
	display: block;
	padding: 10px;
}
.nav {
	height: auto;
	opacity: 0.7;
	padding-top: 0;
}
.great {
	font-size: 30px;
}
.text-block {
	width: 100%;
	font-size: 20px;
	letter-spacing: 0;
}
.left-side-content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.right-side-content {
	display: none;
}

.pancakes-block {
	width: auto;
}
.pancakes-block .pancakes-right-side .ready-block {
	display: none;
}
.breakfast-right-bg {
	display: none;
}
.time-block {
	display: none;
}
.sandwich-left-block {
	display: none;
}
.sandwich-right-block {
	width: auto;
}
.sandwich-right-block-image {
width: 400px;
height: 350px;
overflow: hidden;
margin-top: 25px;
border: 10px solid #fff;
box-sizing: border-box;
}

}
@media screen and (min-width : 669px) and (max-width: 950px){
.wrapper {
	width: 100%;
}
.logo {
	display: none;
}
.nav-mobile {
	display: block;
}
.main-menu li{
	display: none;
	width: 300px;
}
.central-block {
margin-top: 150px;
}
.art-block-content {
	padding-top: 65px;
}
.left-side-content {
	max-width: 50%;
}
.article-middle {
	margin: 7px 0;
}
.citation-block {
	display: none;
}
.pancakes-block .pancakes-right-side .ready-block {
	display: none;
}
.breakfast-right-block-menu {
	text-align: center;
	padding: 15px 35px;
}
.breakfast-right-bg {
	background-image: url("../images/breakfast-menu-bg.jpg");
	background-repeat: no-repeat;
	padding-top: 30px;
}
.est {
	display: none;
}
.our-menu-button {
    margin: 15px auto;
    box-sizing: border-box;
}
.time-block {
	display: none;
}
.sandwich-right-block {
	width: auto;
}
.sandwich-right-block-image {
	width: 400px;
	height: 350px;
	overflow: hidden;
	margin-top: 25px;
	border: 10px solid #fff;
	box-sizing: border-box;
}
.article-small {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #c0a090;
    padding: 5px 0;
}
}