.about-link {
  display: flex;
  justify-content: flex-end;
}

.about-link a {
  color: #ffffff;
  cursor: pointer;
}

.about-link a:hover {
  color: #ff6a95;
}

.about h1 {
  margin-bottom: 20px;
}

.about p {
  margin: 10px 0;
}