body{
	line-height: 1.3;
}

.wrapper{
	max-width: 98%;
	margin: 0 auto;
}

header{
	.header-contacts, .header-article{
		width: 35%;
	}
		h1{
			font-size: 25px;
		}
		h3{
			font-size: 18px;
		}
		p,li{
			font-size: 15px;
		}
}
.container{
	border: none;

		.works{
			width: 100%;
		}
		
		.portfolio{
			margin: 2%;
		}
}

.sidebar{
	width: auto;
	padding: 1%;

		
}
