@import '_reset.scss';

$header_bg_color: #5b529d;
$header_font_color: #ffffff;
$sidebar_bg_color:	#F8F8F8;
$progressbar-color: #5b529d;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
          border-radius: $radius;
}

body{
	line-height: 2.0;
}

.wrapper{
	max-width: 90%;
	margin: 0 auto;
}

header{
	background-color: $header_bg_color;
	color: $header_font_color;
	
	.header-photo, 
	.header-contacts,
	.header-article, 
		h1, h3, li{
			margin: 1%;
	}
	.header-photo{
		max-width: 25%;
	}

	.header-contacts,
	.header-article{
		width: 25%;
	}
	.header-article{
		text-align: center;
	}

}
.flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;	
}

.flex-center{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.round-image{
	@include border-radius(50%);
}

.sidebar {
	width: 40%;
	padding: 2%;
	font-weight: 400;
	background-color: $sidebar_bg_color;

	.skills-progress{
		margin-left: 15%;
	}
	
	.progressbar-color{
		background-color: $progressbar-color;
		color: $header_font_color;
	}

	p{
		margin: 3% 0;
	}

	.sidebar-info{
		margin: 0 15% 10%;

		span{
			display: block;
			margin: 3% 0;
		}
	}
}
.bold{
	font-weight: 600;
}

img{
	width: 100%;
}

.adaptive{
	width: 40px;
	margin-right: 2%;
}

.container{
	border-right: 2px solid $sidebar_bg_color;

		.portfolio{
			margin: 3% 2%;
	}

	.works{
		margin: 3% auto;
	 	-webkit-box-orient: horizontal;
	 	-webkit-box-direction: normal;
	 	-webkit-flex-flow: row wrap;
	 	    -ms-flex-flow: row wrap;
	 	        flex-flow: row wrap;

		.block{
			background-color:$sidebar_bg_color;
			width: 350px;
			height: auto;
			margin: 2% auto;
			text-align: center;
			-webkit-box-shadow: 15px 15px 5px -5px rgba(204,198,204,1);
					box-shadow: 15px 15px 5px -5px rgba(204,198,204,1);
			p{
				margin: 1%;
			}
		}
	}
}

 footer{
 	background-color: $header_bg_color;
 	color: $header_font_color;
 	text-align: center;
 }

@media screen and (max-width: 320px) {
	body{
		display: none;
	}
}

 @media screen and (min-width: 320px) and (max-width: 469px) {
 	@import '_style320.scss'
 }

  @media screen and (min-width: 470px) and (max-width: 639px) {
 	@import '_style470.scss'
 }

 @media screen and (min-width: 640px) and (max-width: 950px) {
 	@import '_style640.scss'
 }