@import "_reset.scss";
@import "variables.scss";

body {
    font-family: $font-main;
    background-color: $dark-grey-color;
}

.main-wrapper {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 350px;
    height: auto;
    margin: 30px 0;
    opacity: 0;
    z-index: 1000;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 2s;
    -webkit-animation-name: animationWidth;
    animation-name: animationWidth;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.search-field {
    display: flex;
    width: 100%;
    max-width: 300px;
    height: 40px;
    margin: 0 10px 0 0;
    border-bottom: 1px solid white;
    font: 400 28px $font-main;
    color: $white-color;
}

.search-text {
    display: flex;
    max-width: 300px;
    color: $white-color;
    font-size: 30px;
}

.images-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    span {
        position: absolute;
        width: 70px;
        height: 70px;
        top: 0;
        z-index: 200;
                -webkit-animation: falling 1.5s linear infinite;
                        animation: falling 1.5s linear infinite;

        &:nth-child(2) {
        -webkit-animation: falling 2.5s linear infinite;
                animation: falling 2.5s linear infinite;
        }

        &:nth-child(3) {
        -webkit-animation: falling 2.7s linear infinite;
                animation: falling 2.7s linear infinite;
        }

        &:nth-child(4) {
        -webkit-animation: falling 2.2s linear infinite;
                animation: falling 2.2s linear infinite;
        }

        &:nth-child(5) {
        -webkit-animation: falling 2.1s linear infinite;
                animation: falling 2.1s linear infinite;
        }

        &:nth-child(6) {
        -webkit-animation: falling 2s linear infinite;
                animation: falling 2s linear infinite;
        }

        &:nth-child(7) {
        -webkit-animation: falling 2.9s linear infinite;
                animation: falling 2.9s linear infinite;
        }
    }
   
}

.spider-web-wrapper {
    position: absolute;
    top: -15px;
        right: 0;
}

.container {
    position: absolute;
    width: 250px;
    bottom: 0;
    left: calc(50% - 125px);
}


@-webkit-keyframes falling {
    from {
        top: -100%;
    }

    to {
        top: 75%;
    }
}

@keyframes falling {
    from {
        top: -100%;
    }

    to {
        top: 70%;
    }
}


@-webkit-keyframes animationWidth {
    from {
        opacity: 0;
        
    }

    to {
        opacity: 1;
   
    }
}

@keyframes animationWidth {
    from {
        opacity: 0;
        
    }

    to {
        opacity: 1;
   
    }
}

