@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Gaegu');

$font-main: 'Gaegu', cursive;

$dark-grey-color : #333333;
$white-color: #ffffff;



