:root {
  --main-text-color: #ffffff;
  --main-bg: #0095dd;
  --canvas-bg: #f0f0f0;
  --btn-bg: #333333;
  --btn-color: #ffffff;
  --btn-hover-bg: #222222;
  --btn-reverse-bg: #ffffff;
  --btn-reverse-color: #333333;
}

* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: var(--main-bg);
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

.main-container__title {
  color: var(--main-text-color);
  margin: 10px auto;
}

.score-content {
  color: var(--main-text-color);
  font-size: 20px;
  margin: 10px auto 20px;
}

.canvas-field {
  background-color: var(--canvas-bg);
  display: block;
  border-radius: 10px;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: var(--btn-hover-bg);
  color: var(--main-text-color);
}

.btn:active {
  transform: scale(0.98);
}

.rules-content {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333333;
  color: var(--main-text-color);
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.rules-content.shown {
  transform: translateX(0)
}

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.close-btn {
  background-color: var(--btn-reverse-bg);
  color: var(--btn-reverse-color);
  margin: 0 auto;
}
